body{
	background: rgb(230,230,230);
	color: rgb(72,72,72);
	font-family: 'Lora', serif;
	font-size: 18px;
}   
h1,h2{
	font-family: 'Ubuntu', sans-serif;
}
h1{
	color: #69BAB9;
	font-size: 32px;
}
h2{
	color:#008489;
	font-size: 24px;
	font-weight: lighter;
}
a {
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	transition: color 0.3s ease;
	color: #1A0DAB;
	font-weight: bold;
}
a:hover{
	color: black;
}

div	{
	background: white;
	border: 2px solid rgba(0,0,0,0.59);
	margin: 10px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 15px 35px rgba(50,50,93,.3)
 }

#container{
	background: grey lighter;
	width: 700px;
	margin: 0 auto;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 15px 35px rgba(50,50,93,.3)
}

#smile-icon{
	color: yellow;
}

#profilepic{
	width: 200px;
	border-radius: 10px;
	border: 2px solid;
	border-color: black;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.6);
}

#link-kedge{
	font-family: Roboto;
	background-color: #1A0DAB;
	color: white;
	padding: 10px 15px; 
	border-radius: 10px;
}

.div-secondary{
	margin: auto;
	margin-top: 10px;
	border: 2px solid rgba(0,0,0,0.59);
    border-radius: 10px;
    padding-bottom: 20px; 
    box-shadow: 0px 10px 10px rgba(0,0,0,0.3)   
}

#facebook-logo{
	color: #1874EC;
}

#linkedin-logo{
	color: #007BB6 
}

#github-logo{
	color: #333333
}

#list-inline{
  list-style: none;
  padding-left: 0px;
}
#list-inline li{
  display: inline; 
  padding: 20px;
  font-size: 35px;
}

#div-introduction p{
	margin-bottom: 30px;
}



